XMLAndWeb/XML课件/上课演示的代码/XML_Samples/DTD_examples/persons.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<!ELEMENT Item (#PCDATA | Item | first)*>
<!ELEMENT Person (first, last, Item,SSS)>
<!ELEMENT Persons (Person, Item)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT last (#PCDATA)>
<!ELEMENT SSS (#PCDATA)>
