XMLAndWeb/XML课件/上课演示的代码/XML_Samples/XML_DB/xsloutput.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="result"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="unbounded" name="row"><xsd:complexType><xsd:sequence><xsd:element name="OrderID" type="xsd:integer"/><xsd:element name="CustomerID" nillable="true" type="xsd:string"/><xsd:element name="EmployeeID" nillable="true" type="xsd:integer"/><xsd:element name="OrderDate" nillable="true" type="xsd:dateTime"/><xsd:element name="RequiredDate" nillable="true" type="xsd:dateTime"/><xsd:element name="ShippedDate" nillable="true" type="xsd:dateTime"/><xsd:element name="ShipVia" nillable="true" type="xsd:integer"/><xsd:element name="Freight" nillable="true" type="xsd:integer"/><xsd:element name="ShipName" nillable="true" type="xsd:string"/><xsd:element name="ShipAddress" nillable="true" type="xsd:string"/><xsd:element name="ShipCity" nillable="true" type="xsd:string"/><xsd:element name="ShipRegion" nillable="true" type="xsd:string"/><xsd:element name="ShipPostalCode" nillable="true" type="xsd:string"/><xsd:element name="ShipCountry" nillable="true" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>